---
---

@import "{{ site.theme }}";

// Override hover behavior to remove bold font-weight
a:hover {
  font-weight: normal;
}

// Add more space between sections
h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
